    <nav>
        <a href="/" title="Home Page" class="btn btn-link btn-sm">Home Page</a> <a href="/hops/new" title="Home Page" class="btn btn-link btn-sm">Add New Hops</a> <a href="/" title="View All Hops" class="btn btn-link btn-sm">View All Hops</a>
    </nav>